
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');
* {
box-sizing: border-box;
margin: 0;
font-family: 'Roboto', sans-serif;
}
body {
background-color: #a6dcef;
/* margin-left: 25px; */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0 25px;
}

.hero-section {
    
}
.hero-title {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 18px;
    margin-top: 44px;
    height: 66px;
}
.hero-p {
    font-size: 16px;
    height: 77px;
    color:#fff;
    margin-bottom: 34px;
    font-family: 'Tinos', serif;
}
.monthly-price {
    justify-content: center;
    font-size: 15px;
    color:#fff;
    border-radius: 25px;
    opacity: ;
}
.join-30 {
    background-color: rgba(19, 33, 83, 0.73);
    /* width: 327px; */
    height: 71px;
    border-radius: 25px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    place-items: center;
    margin-bottom: 22px;
}

.cost{
    font-weight: 400;
}
.sign-up-form-container {
    background-color: #fff;
    padding: 0 24px;
    border-radius: 17px;
    /* -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.1); */
    margin-bottom: 38px;
}
.sign-up-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
input{
    margin-bottom: 22px;
    border: 0;
    -webkit-box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.1);
    box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.1);
    width: 279px;
    height: 56px;  
    border-radius: 7px; 
    -webkit-appearance: none;
}
.input-first-name {
    margin-top: 16px;
    padding: 16px;
}
.input-last-name {
    padding: 16px;
}
.input-email {
    padding: 16px;
}
.input-password {
    padding: 16px;
}
button {
    background-color: #18da4e;
    color: #fff;
    height: 46px;
    width: 279px;
    border: none;
    border-radius: 7px;
    margin-bottom: 13px;
}
.terms {
    font-size: 11px;
    text-align: center;
    color: #000;
    margin-bottom:25px;
}
.terms-services {
    font-weight: bold;
}
.column {
    display: flex;
    flex-direction: column;
}
.showErrorMessage p , .emailErrorMessage p , .lastNameErrorMesssage p , .passwordErrorMessage p{
    font-size: 11px;
    color: rgba(227, 0, 41, 0.59);
    margin-left: 120px;
}
.errorImage img {
    width: 24px;
    height: 24px;
}
@media (min-width:720px) {
    body {
        justify-content: center;
        height: 1024px;
    }
    .flex {
        display: flex;
        
    }
    .hero-section {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-content: center;
       justify-self: center;
    }
    .hero-title {
        font-size: 50px;
        margin-top: 432;
        margin-left: 161px;
        margin-bottom: 27px;
        width: 537px;
        margin-right: 98px;
    }
    .hero-p {
        font-size: 16px;
        width: 525px;
        margin-top:26px;
        margin-left: 161px;
        margin-right: 98px;

    }
    .column {
        display: flex;
        flex-direction: column;
    }
    .join-30{
        width: 540px;
        margin-top: 223px;
        margin-bottom: 34px;
    }
    .sign-up-form-container {
        width: 540px;
        margin-bottom:  233px;
    }
    input {
        width: 460px;
        height: 56px;
    }
    button {
        width: 460px;
        height: 56px;
       
    }
    .showErrorMessage p , .emailErrorMessage p , .lastNameErrorMesssage p , .passwordErrorMessage p {
        font-size: 11px;
        margin-left: 335px;
        margin-bottom: 6px;
    }
    .emailErrorMessage {
        margin-left: 35px;
    }
    .passwordErrorMessage {
        
    }
}